
<div class="jumbotron">
    <h1>Secure software development </h1>
    <p class="lead">This modules gives an introduction and hands on experience on the security aspects of programming. Also it introduces various security protocols such as OAuth, OpenID Connect, JWT etc. which are heavily used in modern day software security landscape.</p>
    <p><a href="https://courseweb.sliit.lk/login/index.php" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
</div>
